@mixin list-steyle {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin flex {
    display: flex;
    flex-wrap: wrap;
}
@mixin btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
@mixin rubik {
    font-family: "Rubik", Arial, Helvetica, sans-serif;  
} 
@mixin roboto {
    font-family: "Ronoto", Arial, Helvetica, sans-serif;
}
@mixin roboto-mono {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
}

@mixin rubik-pets ($fw, $fz, $lh, $color) {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $color;
} 
@mixin roboto-pets ($fw, $fz, $lh, $color) {
    font-family: "Ronoto", Arial, Helvetica, sans-serif;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $color;
}
@mixin roboto-monoPets ($fw, $fz, $lh, $color) {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $color;
}