.header {
    display: block;
    background-color: rgba(42, 128, 134, 1);
    padding: 13px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list {
    @include list-steyle;
    display: flex;
    align-items: center;
}
.header__item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}
.header__list-link {
    @include roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #C5E1E6;
}
.header__list-link--sign {
    padding: 16px 14px;
    border: 1px solid #C5E1E6;
    box-sizing: border-box;
    border-radius: 100px;
}
.header__burger {
    
    border: none;
    display: block;
    background-color: transparent;
    width: 23px;
    &::after,
    &::before,
    &-inner {
        box-sizing: border-box;
        background-color: #fff;
        width: 23px;
        height: 1px;
        border: 1px solid #C5E1E6;
        content: "";
        display: block;
    }
    display: none;
}
.header__burger-inner {
    margin: 9px 0;

}

@media only screen and (max-width: $destop) {
    .header {
        padding: 20px 0;
    }  
    
}
@media only screen and (max-width: $tablet) {
    .header__nav {
        display: none;
    }
    .header__list {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .header__nav--opened {
        display: block;
        position: absolute;
        width: 100vw;
        height: calc(100vh - 127px);
        top: 100%;
        left: 0;
        background-color: rgba(42, 128, 134, 1);
        & .nav__link {
            color: #fff;
        }
        & .nav__list {
            display: block;
            text-align: center;
            padding: 32px 38px;
            & .nav__item {
                margin-right: 0;
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}